<div class="app-form-group-row app-input-date-time">
  <app-input-time
    [time]="{ hour: 12, minutes: 12 }"
    [label]="'Od'"
  ></app-input-time>
  <app-input-time
    [time]="{ hour: 14, minutes: 13 }"
    [label]="'Do'"
  ></app-input-time>
</div>

<div class="app-form-item">
  <label class="app-label" for="">Tytuł</label>
  <input class="app-input" type="text">
</div>

<div class="app-form-item">
  <label class="app-label" for="">Opis</label>
  <textarea class="app-texarea" name="" id="" cols="30" rows="10"></textarea>
</div>

<div class="app-input-checkbox">
  <input type="checkbox" class="app-input">
  <label class="app-label" for="">Zakończony ?</label>
</div>
