:host {
  background: var(--light-black-transparent);
  padding: var(--padding-sm);

  display: flex;
  flex-direction: column;

  .wrapBtn {
    margin-top: auto;
    margin: auto auto 0 auto;
    background-color: transparent;
    color: var(--color-gray-light-transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0.3rem;

    mat-icon {
      color: var(--color-purple)
    }

    &:hover {
      background-color: var(--color-gray-light-transparent);
      color: var(--color-purple);
      cursor: pointer;
    }
  }

}
