// Colors

:root {

  --main-layout-content-background: blue;

  --margin-md: 0.7rem;
  --margin-sm: 0.5rem;

  --padding-md: 0.7rem;
  --padding-sm: 0.5rem;

  --color-purple: rgb(107, 107, 177);
  --color-gray-light-transparent: rgba(255, 255, 255, 0.456);
}
