// Colors

:root {

  --main-layout-content-background: blue;
  --light-black-transparent: rgba(0, 0, 0, .12);

  --margin-md: 0.7rem;
  --margin-sm: 0.5rem;

  --padding-lg: 1rem;
  --padding-md: 0.7rem;
  --padding-sm: 0.5rem;

  --border-radious-md: 0.7rem;
  --border-radious-sm: 0.5rem;

  --color-purple: rgb(107, 107, 177);
  --color-gray-light-transparent: rgba(255, 255, 255, 0.456);
}
