:host {
  a {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: white;
    margin-bottom: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    color: var(--color-purple);
    text-decoration: none;

    mat-icon {
      color: var(--color-purple);
    }

    &:hover {
      background-color: var(--color-gray-light-transparent);
      color: var(--color-purple);

      mat-icon {
        color: inherit;
      }
    }

    // #ff4081

    &.active {
      color: #fff;
      background-color: var(--color-purple);;

      mat-icon {
        color: inherit;
      }

    }

    &.wrap {
      border-radius: 50%;
    }

    &.no-wrap {
      display: flex;
      justify-content: flex-start;

      .link-name {
        padding-left: 0.5rem;
        padding-right: 0.4rem;
        font-size: 0.8rem;
      }


    }

  }
}
