:host {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  z-index: 200;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(2, 2, 2, 0.623);


  .dialog-container {
    padding: var(--padding-lg);
    border-radius: var(--border-radious-md);
    background-color: white;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 1.1rem;
      }
    }

    .btns {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      >div {
        margin-top: 0.5rem;
        display: flex;
        flex-wrap: wrap;

        :nth-child(n) {
          margin-left: 0.2rem;
        }

        :first-child {
          margin-left: 0;
        }
      }
    }
  }
}
